{% extends 'base.html' %}

{% block formulario %}
<h1>HOLA ERICH</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Enviar">
</form>

{% endblock formulario %}
{% block footer %}    
{% endblock footer %}





<!-- {% comment %}
esteo es renderizado tal cual viene del bakcend
{% block formulario %}
    <form action="/datosform/" method="get">
        {% csrf_token %}
        <label for="">Nombre</label>
        {{form.nombres}}
        <label for="">Contraseña</label>
        {{form.contrasena}}
        <input type="submit" value="Enviar">
    </form>

{% endblock formulario %}
{% endcomment %} -->
    
    
