{%include 'menu.html' %} {% block fecha%} {% load static %} {% if foto == 1 %}
<img src="{% static 'img/gatito.png' %}" height="200" width="200" alt="" />
{% elif foto == 2 %}
<img src="{% static 'img/perrito.png' %}" height="200" width="200" alt="" />
{% else %}
<img src="{% static 'img/gatito.png' %}" height="200" width="200" alt="" />
<img src="{% static 'img/perrito.png' %}" height="200" width="200" alt="" />
{% endif %}
<h1>Hola {{name|first|lower}} :</h1>

{% include 'fragmento_nombre.html' with persona="Juan" saludo="Hola"%}
<h1 class="text-success">
  {% filter upper %} La Fecha Actual es : {{ fecha }} {% endfilter %}
</h1>
<h1 class="text-danger">Mis frutas</h1>
<ul class="mx-auto">
  {% for fruta in frutas %}
  <li class="text-primary">{{fruta}}</li>
  {% endfor %}
</ul>
<h1 class="text-danger">{{frutas|join:' ** '}}</h1>
<h1 class="text-primary">
  {% autoescape off %} {{frutas|length}} {% endautoescape %}
</h1>
{{value|default:"nada"}} {%endblock fecha %}
